name: Docs

on:
  workflow_dispatch:
  # push:
  #   branches: 
  #     - main
# when a review is requested on a PR that targets `main`, or the PR is closed:    
  # pull_request:
  #   types: [review_requested, closed]

# Prevent multiple PRs from building/deploying the docs at the same time
concurrency:
  group: ${{ github.workflow }}

jobs:
  docs-build:
    name: Build docs
    runs-on: ubuntu-latest
    if: (github.repository == 'astropy/repo_stats')

    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: 3.11

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install docs dependencies
        run: |
          sudo apt-get install pandoc
          pip install setuptools --upgrade
          pip install .[test,docs]

      - name: Make docs
        run: |
          pip install .
          cd docs
          make html
          
      # upload the built docs as an artifact so the files can be accessed
      # by a subsequent job in the workflow.
      # only store the artifact for 'retention-days'
      - name: Upload docs artifact
        # if: github.event.pull_request.merged == true
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: built_docs
          path: docs/_build/html
          retention-days: 1

  docs-deploy:
    name: Deploy docs
    needs: docs-build
    runs-on: ubuntu-latest
    if: (github.repository == 'astropy/repo_stats')
    # if: github.event.pull_request.merged == true
    permissions: 
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      # download the previously uploaded 'built_docs' artifact
      - name: Download docs artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        id: download
        with:
          name: built_docs
          path: docs/_build/html

      - name: Echo download path
        run: echo ${{steps.download.outputs.download-path}}

      - name: Disable jekyll builds
        run: touch docs/_build/html/.nojekyll

      - name: Display docs file structure
        run: ls -aR
        working-directory: docs/_build/html

      - name: Install and configure dependencies
        run: |
          npm install -g --silent gh-pages@2.0.1

      - name: Deploy docs to gh-pages branch
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages --dotfiles --dist docs/_build/html --user "github-actions-bot <support+actions@github.com>" --message "Update docs [skip ci]"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
