name: build and release to PyPI

on:
  release:
    types:
      - released

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: (github.repository == 'astropy/repo_stats')

    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: 3.11

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install setuptools wheel twine
          pip install pep517 --user

      - name: Install package
        run: |
          pip install .

      - name: Build binary wheel and source tarball
        run: |
          python -m pep517.build --source --binary --out-dir dist/ .

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
